*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    background-color: darkgreen;
    color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 7vh;
    width: 100vw;
}